<%- include('layout', { title: 'Negative Impacts of Sleep Deprivation', user: user }) %>

<h2>Negative Impacts of Sleep Deprivation</h2>
<ul>
  <li>Increased risk of chronic diseases</li>
  <li>Reduced cognitive function</li>
  <li>Increased stress and irritability</li>
  <li>Weight gain and hormonal imbalances</li>
</ul>
